@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  /* cursor: none; */
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
}

* {
  scrollbar-width: none;
}