@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  /* cursor: none; */
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
}

* {
  scrollbar-width: none;
}

.contribution-graph {
  display: grid;
  grid-template-columns: repeat(53, 12px);
  gap: 3px;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.week {
  display: flex;
  flex-direction: column;
}

.day {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  transition: transform 0.1s ease, background-color 0.3s ease;
  cursor: pointer;
}

.day[data-level="0"] {
  background-color: #ebedf0;
}

.day[data-level="1"] {
  background-color: #c6e48b;
}

.day[data-level="2"] {
  background-color: #7bc96f;
}

.day[data-level="3"] {
  background-color: #239a3b;
}

.day[data-level="4"] {
  background-color: #196127;
}

.day:hover {
  transform: scale(1.5);
  opacity: 0.8;
}

.day::after {
  content: attr(data-tooltip);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
  z-index: 10;
}