@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  cursor: url('/cursor.cur') 16 16;
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}